<!DOCTYPE html>
<html>
    <head>
        <title>Consulta-Sim</title>
    </head>

    <body>
        <header>
        <h1>Bem-Vindo ao Consulta-Sim</h1>
        </header>
           <p>Aqui você pode agendar sua consulta</p>

           <div class="links">
            <a href="<% pacientes_path %>" class="btn"><i class="fas fa-user"></i>Cadastrar Paciente</a>
            <br>

            <a href="<% pacientes_url %>" class="btn"><i class="fas fa-user"></i>Ver a lista de Pacientes Cadastrados</a>
           </div>
    </body>
</html>
