<h1> Bem-Vindo ao Consulta-sim</h1>

<body>

<div style="margin-bottom: 20px;"></div>
<%= link_to "LOGIN", login_path %> |
<div style="margin-bottom: 20px;"></div>
<%= link_to "CADASTRAR PACIENTE", new_paciente_path %>|
<div style="margin-bottom: 20px;"></div>
<%=link_to "CADASTRAR MÉDICO", new_medico_path %>|
<div style="margin-bottom: 20px;"></div>

</body>
